/* styles.css */
body {
  margin: 0;
  padding: 24px; /*food**/
  font-family: Arial, sans-serif;
  background: #f0f0f0;
}

header {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.nav-links a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto 20px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

h1,
h2 {
  text-align: center;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cardm {
  max-width: 200px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease;
}

button:active {
  transform: translateY(3px);
}
button:hover {
  background-color: #0056b3;
}

footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/*f-s*/
#summary {
  margin-top: 40px;
}

#order-summary {
  list-style: none;
  padding: 0;
}

#order-summary li {
  margin-bottom: 10px;
}

#total-amount {
  font-weight: bold;
  margin-top: 20px;
}
/*f-e*/

/*login*/

.background-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("{{ url_for('static', filename='Images/login/maxresdefault.jpg') }}");
  background-size: cover;
  background-position: center;
}

.login {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

.login h2 {
  text-align: center;
  color: #333;
}

.login .messages {
  color: #d9534f;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login label {
  margin-top: 10px;
  font-weight: bold;
  color: #555;
}

.login input[type="email"],
.login input[type="password"] {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login button {
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login button:hover {
  background-color: #0056b3;
}

.login p {
  text-align: center;
  margin-top: 15px;
  color: #666;
}

.login a {
  color: #007bff;
  text-decoration: none;
}

.login a:hover {
  text-decoration: underline;
}

/**/

/*signup*/
/* signup */
.signup .background-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("{{ url_for('static', filename='your-background-image.jpg') }}")
    no-repeat center center;
  background-size: cover;
}

.signup .form-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 350px;
}

.signup h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signup label {
  display: block;
  margin-bottom: 5px;
}

.signup input[type="text"],
.signup input[type="email"],
.signup input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.signup button:hover {
  background-color: #555;
}

.signup .password-requirements {
  margin-bottom: 10px;
}

.signup .password-requirements p {
  margin: 0 0 5px;
}

.signup .password-requirements ul {
  list-style-type: disc;
  margin-left: 20px;
}

.signup .password-requirements li {
  margin-bottom: 5px;
}

.signup p {
  text-align: center;
  margin-top: 10px;
}

/**/
