<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
   <header>
    <nav class="navbar">
        <div class="nav-brand">Cruise Ship Management</div>
        
        <ul class="nav-links">
            <li><a href="#book-movie">Movie</a></li>
            <li><a href="#book-resort">Resort</a></li>
            <li><a href="#book-fitness">Fitness</a></li>
            <li><a href="#book-party-hall">Party</a></li>
        </ul>
    </nav>

   </header>
   <div class="container">
    <div class="card-grid">
      <div class="card" id="order-catering">

        <h2>Book Movie Tickets</h2>
        <img src="Images/movie/movie4.webp" alt="Movie">
        <button type="button">Check</button>
      </div>
      <div class="card" id="Book-resort">

        <h2>Book Resort</h2>
        <img src="Images/resort/R.jpeg" alt="Resort">
        <button type="button">Check</button>
      </div>
      <div class="card" id="Book-fitness">

        <h2>Book Fitness Center</h2>
        <img src="Images/fitness/gym.jpg" alt="Fitness">
        <button type="button">Check</button>
      </div>
      <div class="card" id="book-party-hall">
        
        <h2>Book Party Hall</h2>
        <img src="Images/party/party hall 1.jpg" alt="Party Hall">
        <button type="button">Check</button>
      </div>
    </div>
  </div>


</body>
</html>
